
cal.zip
processed/c0/1/calib_c0_1_00001.tif
processed/c0/2/calib_c0_2_00001.tif
processed/c0/3/calib_c0_3_00001.tif
processed/c0/marker_c0_1.txt
processed/c0/marker_c0_2.txt
processed/c0/marker_c0_3.txt
processed/c1/1/calib_c1_1_00001.tif
processed/c1/2/calib_c1_2_00001.tif
processed/c1/3/calib_c1_3_00001.tif
processed/c1/marker_c1_1.txt
processed/c1/marker_c1_2.txt
processed/c1/marker_c1_3.txt
processed/c2/1/calib_c2_1_00001.tif
processed/c2/2/calib_c2_2_00001.tif
processed/c2/3/calib_c2_3_00001.tif
processed/c2/marker_c2_1.txt
processed/c2/marker_c2_2.txt
processed/c2/marker_c2_3.txt
processed/c3/1/calib_c3_1_00001.tif
processed/c3/2/calib_c3_2_00001.tif
processed/c3/3/calib_c3_3_00001.tif
processed/c3/marker_c3_1.txt
processed/c3/marker_c3_2.txt
processed/c3/marker_c3_3.txt
raw/c0/1/calib_c0_1_00001.tiff
raw/c0/1/calib_c0_1_00002.tiff
raw/c0/1/calib_c0_1_00003.tiff
raw/c0/2/calib_c0_2_00001.tiff
raw/c0/2/calib_c0_2_00002.tiff
raw/c0/2/calib_c0_2_00003.tiff
raw/c0/3/calib_c0_3_00001.tiff
raw/c0/3/calib_c0_3_00002.tiff
raw/c0/3/calib_c0_3_00003.tiff
raw/c1/1/calib_c1_1_00001.tiff
raw/c1/1/calib_c1_1_00002.tiff
raw/c1/1/calib_c1_1_00003.tiff
raw/c1/2/calib_c1_1_00001.tiff
raw/c1/2/calib_c1_1_00002.tiff
raw/c1/2/calib_c1_1_00003.tiff
raw/c1/3/calib_c1_3_00001.tiff
raw/c1/3/calib_c1_3_00002.tiff
raw/c1/3/calib_c1_3_00003.tiff
raw/c2/1/calib_c2_1_00001.tiff
raw/c2/1/calib_c2_1_00002.tiff
raw/c2/1/calib_c2_1_00003.tiff
raw/c2/2/calib_c2_2_00001.tiff
raw/c2/2/calib_c2_2_00002.tiff
raw/c2/2/calib_c2_2_00003.tiff
raw/c2/3/calib_c2_3_00001.tiff
raw/c2/3/calib_c2_3_00002.tiff
raw/c2/3/calib_c2_3_00003.tiff
raw/c3/1/calib_c3_1_00001.tiff
raw/c3/1/calib_c3_1_00002.tiff
raw/c3/1/calib_c3_1_00003.tiff
raw/c3/2/calib_c3_2_00001.tiff
raw/c3/2/calib_c3_2_00002.tiff
raw/c3/2/calib_c3_2_00003.tiff
raw/c3/3/calib_c3_3_00001.tiff
raw/c3/3/calib_c3_3_00002.tiff
raw/c3/3/calib_c3_3_00003.tiff
